<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>회원가입 가입완료 | dy</title>
<link rel="stylesheet" th:href="@{/css/setting.css}">
<link rel="stylesheet" th:href="@{/css/plugin.css}">
<link rel="stylesheet" th:href="@{/css/template.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<!-- [S]tedu-N3 -->
	<div class="tedu-N3" data-bid="XEm3ZgHi4n">
		<div class="header-container lightmode">
			<div class="header-top">
				<div class="inner">
					<div class="header-member">
						<a th:href="@{/login}"> <em class="ico"> <img
								th:src="@{/icons/ico_login.svg}" alt="로그인 아이콘">
						</em> <span>로그인</span>
						</a> <a href="/register/membershipAgree"> <em class="ico"> <img
								src="/icons/ico_member.svg" alt="회원가입 아이콘">
						</em> <span>회원가입</span>
						</a>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="inner">
					<div class="header-logo">
						<a href="/"> <img src="/images/logo_black.png" alt="로고">
						</a>
					</div>
					<div class="header-gnb">
						<div class="gnb-list">
							<a th:href="@{goodsLists}">BEST 교육</a>
						</div>
						<div class="gnb-list">
							<a href="javascript:void(0)">신규</a>
						</div>
						<div class="gnb-list">
							<a href="javascript:void(0)">온라인 교육</a>
						</div>
					</div>
					<div class="header-btn"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- [E]tedu-N3 -->
  <main class="th-layout-main ">
    <!-- [S]tedu-N41 -->
    <div class="tedu-N41" data-bid="xoM3ZgM719">
      <div class="content-inner">
        <div class="content-container">
          <div class="member-wrap-04">
            <ul class="step-list">
              <li class="step">
                <span class="step-num">1</span>
                <p>약관동의</p>
              </li>
              <li class="step">
                <span class="step-num">2</span>
                <p>정보입력</p>
              </li>
              <li class="step active">
                <span class="step-num">3</span>
                <p>가입완료</p>
              </li>
            </ul>
            <div class="con-figure">
              <div class="con-img-box">
                <img class="con-img" src="/icons/ico_join_wh.svg" alt="signup">
              </div>
            </div>
            <div class="textset">
              <h2 class="textset-tit">
                <span> 환영합니다 !</span>
                <span>회원으로 가입이 완료되었습니다.</span>
              </h2>
              <p class="textset-desc">템하에듀의 서비스와 혜택을 이용하실 수 있습니다. <br>로그인 후 이용이 가능합니다. </p>
            </div>
            <div class="btn-box">
              <a class="tedu-btn tedu-btn-dark btn-link" href="/login">로그인하기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N41 -->
  </main>
  <!-- [S]tedu-N17 -->
	<div class="tedu-N17" data-bid="HIM3zgkH6h">
		<div class="footer-container">
			<div class="footer-top">
				<div class="inner">
					<div class="footer-menu">
						<a href="javascript:void(0)">이용약관</a> <a href="javascript:void(0)">개인정보처리방침</a>
					</div>
				</div>
			</div>
			<div class="footer-area">
				<div class="inner">
					<dif class="footer-info-wrap">
					<div class="footer-logo">
						<a href="javascript:void(0)"> <img
							src="/images/logo_white.png" alt="로고">
						</a>
					</div>
					<div class="footer-info">
						<span>서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호</span> <span>T.
							070-8872-8874</span> <span>E. help@openfield.co.kr</span> <span
							class="copy">2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</span>
					</div>
					</dif>
				</div>
			</div>
		</div>
	</div>
	<!-- [E]tedu-N17 -->
	<script src="/js/setting.js"></script>
	<script src="/js/plugin.js"></script>
	<script src="/js/template.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/script.js"></script>
</body>