<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="imagetoolbar" content="no">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="웹사이트">
<meta name="description" content="웹사이트입니다.">
<meta name="keywords" content="키워드,키워드,키워드">
<meta property="og:title" content="웹사이트">
<meta property="og:description" content="웹사이트입니다">
<meta property="og:image" content="https://웹사이트/images/opengraph.png">
<meta property="og:url" content="https://웹사이트">
<title>회원가입 약관동의 | dy</title>
<link rel="stylesheet" th:href="@{/css/setting.css}">
<link rel="stylesheet" th:href="@{/css/plugin.css}">
<link rel="stylesheet" th:href="@{/css/template.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- [S]tedu-N3 -->
	<div class="tedu-N3" data-bid="XEm3ZgHi4n">
		<div class="header-container lightmode">
			<div class="header-top">
				<div class="inner">
					<div class="header-member">
						<a th:href="@{/login}"> <em class="ico"> <img
								th:src="@{/icons/ico_login.svg}" alt="로그인 아이콘">
						</em> <span>로그인</span>
						</a> <a href="/register/membershipAgree"> <em class="ico"> <img
								src="/icons/ico_member.svg" alt="회원가입 아이콘">
						</em> <span>회원가입</span>
						</a>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="inner">
					<div class="header-logo">
						<a href="/"> <img src="/images/logo_black.png" alt="로고">
						</a>
					</div>
					<div class="header-gnb">
						<div class="gnb-list">
							<a th:href="@{goodsLists}">BEST 교육</a>
						</div>
						<div class="gnb-list">
							<a href="javascript:void(0)">신규</a>
						</div>
						<div class="gnb-list">
							<a href="javascript:void(0)">온라인 교육</a>
						</div>
					</div>
					<div class="header-btn"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- [E]tedu-N3 -->
	
	<main class="th-layout-main ">
		<!-- [S]tedu-N37 -->
		<div class="tedu-N37" data-bid="CHM3zgKH3H">
			<div class="content-inner">
				<div class="content-container">
					<div class="member-wrap-02">
						<ul class="step-list">

							<li class="step active"><span class="step-num">1</span>
								<p>약관동의</p></li>
							<li class="step"><span class="step-num">2</span>
								<p>정보입력</p></li>
							<li class="step"><span class="step-num">3</span>
								<p>가입완료</p></li>
						</ul>
						<div class="form-wrap">
							<form>
								<div class="form-header">
									<h3 class="form-tit">회원가입 약관동의</h3>
									<div class="form-desc">
										템하에듀를 체계적으로 이용하기 위해 회원 정보 관리를 위하여 아래와 같이 개인정보를 수집 및 이용동의를
										제공하고자 합니다. <br>아래의 내용을 반드시 읽으신 후 서비스 약관 동의 여부를 결정하여
										동의합니다에 체크하여주시기 바랍니다.
									</div>
								</div>
								<div class="form-body">
									<div class="form-all-check">
										<div class="checkset">
											<input id="checkset-all" class="checkset-input input-round"
												type="checkbox" value="" checked=""> <label
												class="checkset-label" for="checkset-all"></label> <span
												class="checkset-text">전체동의</span>
										</div>
										<p class="checkset-desc">
											<span class="br">아래 동의 항목을 개별 확인 후 각 항목마다 개별적으로 동의하실 수
												있습니다.</span> 전체 동의 시 체크되는 동의 항목에는 선택 동의 항목도 포함되어 있습니다.
										</p>
									</div>
									<div class="accordset accordset-arrow">
										<div class="accordset-item">
											<div class="accordset-header">
												<div class="checkset">
													<input id="checkset-c-3-2"
														class="checkset-input input-round" type="checkbox"
														value="" checked=""> <label class="checkset-label"
														for="checkset-c-3-2"></label>
												</div>
												<button class="accordset-button btn" type="button">(필수)
													개인정보수집 및 이용에 대한 동의</button>
											</div>
											<div class="accordset-body">
												<div class="accordset-content">
													템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML,
													CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br>
													드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
												</div>
											</div>
										</div>
										<div class="accordset-item">
											<div class="accordset-header">
												<div class="checkset">
													<input id="checkset-c-3-3"
														class="checkset-input input-round" type="checkbox"
														value="" checked=""> <label class="checkset-label"
														for="checkset-c-3-3"></label>
												</div>
												<button class="accordset-button btn" type="button">(필수)
													이용약관</button>
											</div>
											<div class="accordset-body">
												<div class="accordset-content">
													템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML,
													CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br>
													드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
												</div>
											</div>
										</div>
										<div class="accordset-item active">
											<div class="accordset-header">
												<div class="checkset">
													<input id="checkset-c-3-4"
														class="checkset-input input-round" type="checkbox"
														value="" checked=""> <label class="checkset-label"
														for="checkset-c-3-4"></label>
												</div>
												<button class="accordset-button btn" type="button">(선택)
													마케팅 활용 및 광고성정보 수신을 위한 개인정보 이용 동의</button>
											</div>
											<div class="accordset-body bt-0">
												<div class="accordset-content column">
													<p class="accodset-desc">
														<span class="br">템하에듀를 체계적으로 이용하기 위해 회원 정보 관리를 위하여
															아래와 같이 개인정보를 수집 및 이용동의를 제공하고자 합니다.</span> 아래의 내용을 반드시 읽으신 후 서비스
														약관 동의 여부를 결정하여 동의합니다에 체크하여주시기 바랍니다.
													</p>
													<div class="radio-group">
														<div class="checkset">
															<input id="checkset-sms-1" class="checkset-input"
																type="checkbox" value="" checked=""> <label
																class="checkset-label" for="checkset-sms-1"></label> <span
																class="checkset-text">SMS 수신동의</span>
														</div>
														<div class="checkset">
															<input id="checkset-sms-2" class="checkset-input"
																type="checkbox" value=""> <label
																class="checkset-label" for="checkset-sms-2"></label> <span
																class="checkset-text">전화 수신동의</span>
														</div>
														<div class="checkset">
															<input id="checkset-sms-3" class="checkset-input"
																type="checkbox" value=""> <label
																class="checkset-label" for="checkset-sms-3"></label> <span
																class="checkset-text">E-mail 수신동의</span>
														</div>
													</div>
													<div class="tedu-table tedu-tb-light">
														<div class="table-inner">
															<table class="tedu-table-pc">
																<colgroup>
																	<col class="col-4">
																	<col class="col-4">
																	<col class="col-4">
																</colgroup>
																<thead>
																	<tr>
																		<th scope="col">수집 및 이용목적</th>
																		<th scope="col">수집 항목</th>
																		<th scope="col" class="bdr-none">보유기간</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>이메일, 휴대폰번호, 주소</td>
																		<td>행사 및 상품정보 안내 / 마케팅 활동</td>
																		<td class="bdr-none">회원가입 신청 시점부터 1년간 이용실적 없을 경우</td>
																	</tr>
																</tbody>
															</table>
															<table class="tedu-table-mo">
																<colgroup>
																	<col>
																	<col>
																</colgroup>
																<tbody>
																	<tr>
																		<th scope="row" class="bdt-none">수집 및 이용목적</th>
																		<td>이메일, 휴대폰번호, 주소</td>
																	</tr>
																	<tr>
																		<th scope="row">수집 항목</th>
																		<td>행사 및 상품정보 안내 / 마케팅 활동</td>
																	</tr>
																	<tr>
																		<th scope="row">보유기간</th>
																		<td>회원가입 신청 시점부터 1년간 이용실적 없을 경우</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<small class="small"> 위 개인정보 수집 및 이용에 대한 동의를 거부할 수
															있으나 동의 거부 시 할인 및 이벤트 정보 안내 등의 서비스가 제한됩니다. </small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-footer btn-box">
									<a class="tedu-btn tedu-btn-light btn-mono"
										href="/">동의하지 않습니다.</a> <a
										class="tedu-btn tedu-btn-light btn-link"
										href="/register/membershipInfo">약관에 동의합니다.</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [E]tedu-N37 -->
	</main>
	<!-- [S]tedu-N17 -->
	<div class="tedu-N17" data-bid="HIM3zgkH6h">
		<div class="footer-container">
			<div class="footer-top">
				<div class="inner">
					<div class="footer-menu">
						<a href="javascript:void(0)">이용약관</a> <a href="javascript:void(0)">개인정보처리방침</a>
					</div>
				</div>
			</div>
			<div class="footer-area">
				<div class="inner">
					<dif class="footer-info-wrap">
					<div class="footer-logo">
						<a href="javascript:void(0)"> <img
							src="/images/logo_white.png" alt="로고">
						</a>
					</div>
					<div class="footer-info">
						<span>서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호</span> <span>T.
							070-8872-8874</span> <span>E. help@openfield.co.kr</span> <span
							class="copy">2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</span>
					</div>
					</dif>
				</div>
			</div>
		</div>
	</div>
	<!-- [E]tedu-N17 -->
	<script src="/js/setting.js"></script>
	<script src="/js/plugin.js"></script>
	<script src="/js/template.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/script.js"></script>
</body>