<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>직원 정보 수정 | dy</title>
    <link rel="stylesheet" th:href="@{/css/setting.css}">
    <link rel="stylesheet" th:href="@{/css/plugin.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script> 
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/static/js/daumAddressScript.js"></script>
    <script src="/static/js/check.js"></script>
</head>

<body>
    <!-- [S]tedu-N3 -->
    <div class="tedu-N3" data-bid="XEm3ZgHi4n">
        <div class="header-container lightmode">
            <div class="header-top">
                <div class="inner">
                    <div class="header-member">
                        <a th:href="@{/login}">
                            <em class="ico">
                                <img th:src="@{/icons/ico_login.svg}" alt="로그인 아이콘">
                            </em>
                            <span>로그인</span>
                        </a>
                        <a href="javascript:void(0)">
                            <em class="ico">
                                <img src="/icons/ico_member.svg" alt="회원가입 아이콘">
                            </em>
                            <span>회원가입</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="inner">
                    <div class="header-logo">
                        <a href="/"> <img src="/images/logo_black.png" alt="로고"></a>
                    </div>
                    <div class="header-gnb">
                        <div class="gnb-list">
                            <a th:href="@{goodsLists}">BEST 교육</a>
                        </div>
                        <div class="gnb-list">
                            <a href="javascript:void(0)">신규</a>
                        </div>
                        <div class="gnb-list">
                            <a href="javascript:void(0)">온라인 교육</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N3 -->
    
    <main class="th-layout-main ">
        <div class="tedu-N39" data-bid="Ffm3ZglDN3">
            <div class="content-inner">
                <div class="content-container">
                    <div class="main-content">
                        <h3>직원 정보 수정 페이지입니다.</h3>
                        <form action="empModify" method="post" name="frm" th:object="${employeeCommand}">
                            <input type="hidden" name="empPw" value="1111!qqqq" />
                            <input type="hidden" name="empPwCon" value="111111" />
                            직원번호 : <input type="text" name="empNum" th:value="${employeeCommand.empNum}" readonly="readonly"/><br />
                            직원아이디 : <input type="text" name="empId" th:value="${employeeCommand.empId}" /><br />
                            직원이름 : <input type="text" name="empName" th:value="${employeeCommand.empName}" />
                            <span style="color:red" th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"></span><br />
                            직원주소 : <input type="text" name="empAddr" id="sample4_roadAddress" th:value="${employeeCommand.empAddr}" />
                            <button type="button" onclick="execDaumPostcode()">주소검색</button><br />
                            직원상세주소 : <input type="text" name="empAddrDetail" th:value="${employeeCommand.empAddrDetail}" /><br />
                            우편번호 : <input type="text" name="empPost" id="sample4_postcode" th:value="${employeeCommand.empPost}" />
                            <span style="color:red" th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}"></span><br />
                            연락처 : <input type="tel" name="empPhone" th:value="${employeeCommand.empPhone}" />
                            <span style="color:red" th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}"></span><br />
                            이메일 : <input type="email" name="empEmail" th:value="${employeeCommand.empEmail}" />
                            <span id='emailCheck'></span>
                            <span style="color:red" th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}"></span><br />
                            주민번호: <input type="text" name="empJumin" th:value="${employeeCommand.empJumin}" />
                            <span style="color:red" th:if="${#fields.hasErrors('empJumin')}" th:errors="*{empJumin}"></span><br />
                            입사일 : <input type="date" name="empHireDate" th:value="${#dates.format(employeeCommand.empHireDate,'yyyy-MM-dd')}" /><br />
                            <input type="submit" value="직원정보 수정" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- [S]tedu-N17 -->
    <div class="tedu-N17" data-bid="fLM3zgHIUl">
        <div class="footer-container">
            <div class="footer-top">
                <div class="inner">
                    <div class="footer-menu">
                        <a href="javascript:void(0)">이용약관</a>
                        <a href="javascript:void(0)">개인정보처리방침</a>
                    </div>
                </div>
            </div>
            <div class="footer-area">
                <div class="inner">
                    <div class="footer-info-wrap">
                        <div class="footer-logo">
                            <a href="javascript:void(0)"> <img src="/images/logo_white.png" alt="로고"></a>
                        </div>
                        <div class="footer-info">
                            <span>서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호</span>
                            <span>T. 070-8872-8874</span>
                            <span>E. help@openfield.co.kr</span>
                            <span class="copy">2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N17 -->
    
    <script th:src="@{/js/setting.js}"></script>
    <script th:src="@{/js/plugin.js}"></script>
    <script th:src="@{/js/template.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</body>

</html>
