<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>메인 | dy</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
  <!-- [S]tedu-N3 -->
  <div class="tedu-N3" data-bid="XEm3ZgHi4n">
    <div class="header-container lightmode">
      <div class="header-top">
        <div class="inner">
          <div class="header-member">
            <a href="javascript:void(0)">
              <em class="ico">
                <img src="../resources/icons/ico_login.svg" alt="로그인 아이콘">
              </em>
              <span>로그인</span>
            </a>
            <a href="javascript:void(0)">
              <em class="ico">
                <img src="../resources/icons/ico_member.svg" alt="회원가입 아이콘">
              </em>
              <span>회원가입</span>
            </a>
          </div>
          <div class="header-lang">
            <a class="current" href="javascript:void(0);">
              <span>KOR</span>
              <em class="ico">
                <img src="../resources/icons/ico_arrow_down.svg" alt="화살표 아이콘">
              </em>
            </a>
            <div class="lang-box">
              <a class="on" href="javascript:void(0);">KOR</a>
              <a href="javascript:void(0);">ENG</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-nav">
        <div class="inner">
          <div class="header-logo">
            <a href="javascript:void(0)">
              <img src="../resources/images/logo_black.png" alt="로고">
            </a>
          </div>
          <div class="header-gnb">
            <div class="gnb-list">
              <a href="javascript:void(0)">BEST 교육</a>
            </div>
            <div class="gnb-list">
              <a href="javascript:void(0)">신규</a>
            </div>
            <div class="gnb-list">
              <a href="javascript:void(0)">온라인 교육</a>
            </div>
          </div>
          <div class="header-btn">
            <a href="javascript:void(0)" class="search-close">
              <em class="ico">
                <img src="../resources/icons/ico_close.svg" alt="닫기 아이콘">
              </em>
            </a>
            <a href="javascript:void(0)" class="search-btn">
              <em class="ico">
                <img src="../resources/icons/ico_search.svg" alt="검색 아이콘">
              </em>
            </a>
            <a href="javascript:void(0)" class="menu-open">
              <em class="ico">
                <img src="../resources/icons/ico_menu.svg" alt="메뉴 아이콘">
              </em>
            </a>
            <a href="javascript:void(0)" class="menu-close">
              <em class="ico">
                <img src="../resources/icons/ico_close.svg" alt="닫기 아이콘">
              </em>
            </a>
          </div>
        </div>
      </div>
      <section class="header-area">
        <div class="inner">
          <div class="menu-wrap">
            <div class="menu-box">
              <a class="menu-title" href="javascript:void(0)">프로그래밍</a>
              <a href="javascript:void(0)">프론트엔드 개발</a>
              <a href="javascript:void(0)">백엔드 개발</a>
              <a href="javascript:void(0)">모바일 앱 개발</a>
              <a href="javascript:void(0)">게임 개발</a>
            </div>
            <div class="menu-box">
              <a class="menu-title" href="javascript:void(0)">디자인</a>
              <a href="javascript:void(0)">UI/UX</a>
              <a href="javascript:void(0)">2D/그래픽/브랜딩</a>
              <a href="javascript:void(0)">3D/건축</a>
            </div>
            <div class="menu-box">
              <a class="menu-title" href="javascript:void(0)">라이프스타일</a>
              <a href="javascript:void(0)">취미 드로잉</a>
              <a href="javascript:void(0)">요리</a>
              <a href="javascript:void(0)">사진/영상</a>
              <a href="javascript:void(0)">공예</a>
            </div>
          </div>
        </div>
      </section>
      <section class="header-search">
        <div class="inner">
          <div class="header-search-form">
            <div class="inputset">
              <button class="icon-search btn" type="button" aria-label="아이콘">
              </button>
              <input type="text" class="inputset-input form-control" placeholder="교육명, 강사명 등을 입력해주세요." aria-label="내용" id="search-input" name="search-input">
            </div>
          </div>
          <div class="recom-list">
            <h5 class="recom-title">추천 검색어</h5>
            <div class="recom-box">
              <a href="javascript:void(0)">UX/UI 디자인</a>
              <a href="javascript:void(0)">프론트엔드 개발</a>
              <a href="javascript:void(0)">그래픽</a>
            </div>
          </div>
        </div>
      </section>
      <div class="mhd-area">
        <div class="inner">
          <div class="mhd-member">
            <a href="javascript:void(0)">
              <span>로그인</span>
            </a>
            <a href="javascript:void(0)">
              <span>회원가입</span>
            </a>
          </div>
          <div class="mhd-gnb">
            <div class="mhd-list">
              <a href="javascript:void(0)">BEST 교육</a>
            </div>
            <div class="mhd-list">
              <a href="javascript:void(0)">신규</a>
            </div>
            <div class="mhd-list">
              <a href="javascript:void(0)">온라인 교육</a>
            </div>
          </div>
          <div class="mhd-menu-wrap">
            <div class="mhd-menu-box is-active">
              <div class="mhd-menu-title">
                <a href="javascript:void(0)">프로그래밍</a>
              </div>
              <div class="mhd-menu-list">
                <a href="javascript:void(0)">프론트엔드 개발</a>
                <a href="javascript:void(0)">백엔드 개발</a>
                <a href="javascript:void(0)">모바일 앱 개발</a>
                <a href="javascript:void(0)">게임 개발</a>
              </div>
            </div>
            <div class="mhd-menu-box">
              <div class="mhd-menu-title">
                <a href="javascript:void(0)">디자인</a>
              </div>
              <div class="mhd-menu-list">
                <a href="javascript:void(0)">UI/UX</a>
                <a href="javascript:void(0)">2D/그래픽/브랜딩</a>
                <a href="javascript:void(0)">3D/건축</a>
              </div>
            </div>
            <div class="mhd-menu-box">
              <div class="mhd-menu-title">
                <a href="javascript:void(0)">라이프스타일</a>
              </div>
              <div class="mhd-menu-list">
                <a href="javascript:void(0)">취미 드로잉</a>
                <a href="javascript:void(0)">요리</a>
                <a href="javascript:void(0)">사진/영상</a>
                <a href="javascript:void(0)">공예</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]tedu-N3 -->
  <main class="th-layout-main ">
    <!-- [S]tedu-N7 -->
    <div class="tedu-N7" data-bid="rum3zGHI9Y">
      <div class="visual-inner">
        <div class="visual-container">
          <div class="visual-container">
            <div class="visual-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="javascript:void(0)" class="banner-box">
                    <div class="img-wrap">
                      <div class="img-box">
                        <img class="visual-bg visual-pc" src="../resources/images/img_N7_pcvisual_01.png" alt="메인배너-1">
                        <img class="visual-bg visual-mo" src="../resources/images/img_N7_movisual_01.png" alt="모바일 메인배너-1">
                      </div>
                    </div>
                    <div class="visual-text-box">
                      <h2 class="visual-title" data-swiper-parallax="-700"> 지금 인기있는 강의 듣고, <br>디자인시스템 패키지 받자! </h2>
                      <div class="visual-subtitle" data-swiper-parallax="-1000">
                        <span class="br">선착순 한정 패키지와 프로모션 혜택까지</span> 받을 수 있는 기회
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide btype">
                  <a href="javascript:void(0)" class="banner-box">
                    <div class="img-wrap">
                      <div class="img-box">
                        <img class="visual-bg visual-pc" src="../resources/images/img_N7_pcvisual_02.png" alt="메인배너-2">
                        <img class="visual-bg visual-mo" src="../resources/images/img_N7_movisual_02.png" alt="모바일 메인배너-2">
                      </div>
                    </div>
                    <div class="visual-text-box">
                      <h2 class="visual-title" data-swiper-parallax="-700"> 지금 인기있는 강의 듣고, <br>디자인시스템 패키지 받자! </h2>
                      <div class="visual-subtitle" data-swiper-parallax="-1000">
                        <span class="br">선착순 한정 패키지와 프로모션 혜택까지</span> 받을 수 있는 기회
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0)" class="banner-box">
                    <div class="img-wrap">
                      <div class="img-box">
                        <img class="visual-bg visual-pc" src="../resources/images/img_N7_pcvisual_03.png" alt="메인배너-3">
                        <img class="visual-bg visual-mo" src="../resources/images/img_N7_movisual_03.png" alt="모바일 메인배너-3">
                      </div>
                    </div>
                    <div class="visual-text-box">
                      <h2 class="visual-title" data-swiper-parallax="-700"> 지금 인기있는 강의 듣고, <br>디자인시스템 패키지 받자! </h2>
                      <div class="visual-subtitle" data-swiper-parallax="-1000">
                        <span class="br">선착순 한정 패키지와 프로모션 혜택까지</span> 받을 수 있는 기회
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="control-wrap">
                <div class="control-bottom">
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-pause">
                    <img src="../resources/icons/ico_pause.svg" alt="스와이퍼 멈춤버튼">
                  </div>
                  <div class="swiper-button-play">
                    <img src="../resources/icons/ico_play.svg" alt="스와이퍼 재생버튼">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N7 -->
    <!-- [S]tedu-N8 -->
    <div class="tedu-N8 darkmode" data-bid="WKM3ZghIbZ">
      <div class="content-inner">
        <div class="content-container">
          <div class="main-content">
            <div class="title-wrap">
              <h3 class="cont-title">신규 런칭 교육</h3>
            </div>
            <div class="content-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type01 color-type01">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <h2 class="title">디자이너와 개발자를 위한 피그마 초격차 패키지</h2>
                          <p class="text">초보자와 실무자 모두 쉽게 배울 수 있는 노하우를 전수해드립니다!</p>
                        </div>
                        <div class="card-img-area">
                          <div class="profile-box">
                            <img src="../resources/images/img_profile_01.png" alt="이미지">
                          </div>
                          <div class="profile-box">
                            <img src="../resources/images/img_profile_02.png" alt="이미지">
                          </div>
                          <div class="profile-box profile-num">
                            <span>+1</span>
                          </div>
                        </div>
                      </div>
                    </a>
                    <button type="button" class="ico-bookmark">
                      <em></em>
                      <span>북마크</span>
                    </button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type01 color-type02 badge">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <h2 class="title">한번에 배우는 Adobe Photoshop 기술서 </h2>
                          <p class="text">초보자와 실무자 모두 쉽게 배울 수 있는 노하우를 전수해드립니다!</p>
                        </div>
                        <div class="card-img-area">
                          <div class="profile-box">
                            <img src="../resources/images/img_profile_03.png" alt="이미지">
                          </div>
                          <div class="profile-box">
                            <img src="../resources/images/img_profile_04.png" alt="이미지">
                          </div>
                          <div class="profile-box profile-num">
                            <span>+6</span>
                          </div>
                        </div>
                      </div>
                    </a>
                    <button type="button" class="ico-bookmark">
                      <em></em>
                      <span>북마크</span>
                    </button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type01 color-type03">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <h2 class="title">콘텐츠 판매자를 위한 마케팅 전략 노하우</h2>
                          <p class="text">초보자와 실무자 모두 쉽게 배울 수 있는 노하우를 전수해드립니다!</p>
                        </div>
                        <div class="card-img-area">
                          <div class="profile-box">
                            <img src="../resources/images/img_profile_05.png" alt="이미지">
                          </div>
                          <div class="profile-box">
                            <img src="../resources/images/img_profile_06.png" alt="이미지">
                          </div>
                          <div class="profile-box profile-num">
                            <span>+3</span>
                          </div>
                        </div>
                      </div>
                    </a>
                    <button type="button" class="ico-bookmark">
                      <em></em>
                      <span>북마크</span>
                    </button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type01 color-type03 badge">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <h2 class="title">콘텐츠 판매자를 위한 마케팅 전략 노하우</h2>
                          <p class="text">초보자와 실무자 모두 쉽게 배울 수 있는 노하우를 전수해드립니다!</p>
                        </div>
                        <div class="card-img-area">
                          <div class="profile-box">
                            <img src="../resources/images/img_profile_05.png" alt="이미지">
                          </div>
                          <div class="profile-box">
                            <img src="../resources/images/img_profile_06.png" alt="이미지">
                          </div>
                          <div class="profile-box profile-num">
                            <span>+3</span>
                          </div>
                        </div>
                      </div>
                    </a>
                    <button type="button" class="ico-bookmark">
                      <em></em>
                      <span>북마크</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="control-wrap">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N8 -->
    <!-- [S]tedu-N10 -->
    <div class="tedu-N10" data-bid="qYM3ZghIHt">
      <div class="content-inner">
        <div class="content-container">
          <div class="title-wrap">
            <h3 class="cont-title">베스트셀러</h3>
            <p class="cont-text">이번 주 가장 인기있는 교육을 만나보세요!</p>
          </div>
          <section class="box-wrap">
            <article class="box-area box-type01">
              <div class="box-img-area">
                <div class="img-wrap">
                  <div class="img-box">
                    <img class="card-img card-img-pc" src="../resources/images/img_N10_pc_01.png" alt="이미지">
                    <img class="card-img card-img-mo" src="../resources/images/img_N10_mo_01.png" alt="모바일이미지">
                  </div>
                </div>
              </div>
              <div class="card-link-area color-type01">
                <a href="javascript:void(0)">
                  <div class="text-wrap">
                    <h4 class="title">
                      <span class="mo-br">한 번에 끝내는 </span>UX / UI 디자인 실무 디자인 패키지 제공
                    </h4>
                    <p class="text">웹페이지는 인터넷 상에서 접근 가능한 웹사이트의 하위 페이지를 말합니다. 즉, 웹사이트는 여러 개의 웹페이지로 구성되어 있습니다.</p>
                  </div>
                  <span class="arrw">
                    <img src="../resources/icons/ico_next.svg" alt="화살표 아이콘">
                  </span>
                </a>
              </div>
            </article>
            <article class="box-area box-type02">
              <div class="box-img-area">
                <div class="img-wrap">
                  <div class="img-box">
                    <img class="card-img card-img-pc" src="../resources/images/img_N10_pc_02.png" alt="이미지">
                    <img class="card-img card-img-mo" src="../resources/images/img_N10_mo_02.png" alt="모바일이미지">
                  </div>
                </div>
              </div>
              <div class="card-link-area color-type02">
                <a href="javascript:void(0)">
                  <div class="text-wrap">
                    <h4 class="title">
                      <span class="pc-br">역대급 가성비 온라인 교육 </span>디자인 툴 마스터 클래스
                    </h4>
                    <p class="text">웹은 무궁무진한 정보와 자료를 제공하고 개인, 기업, 정부, 학교 등 모든 분야에 활용됩니다.</p>
                  </div>
                  <span class="arrw">
                    <img src="../resources/icons/ico_next.svg" alt="화살표 아이콘">
                  </span>
                </a>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N10 -->
    <!-- [S]tedu-N12 -->
    <div class="tedu-N12" data-bid="eiM3ZGHiL1">
      <div class="content-inner">
        <div class="content-container">
          <div class="banner-wrap">
            <a href="javascript:void(0)" class="banner-box">
              <div class="img-wrap">
                <div class="img-box">
                  <img class="banner-bg banner-pc" src="../resources/images/img_N12_pc.png" alt="배너">
                  <img class="banner-bg banner-mo" src="../resources/images/img_N12_mo.png" alt="모바일배너">
                </div>
              </div>
              <div class="text-box">
                <h2 class="title"> 템하에듀에서 만나는 <br>특별한 카드 혜택! </h2>
                <div class="subtitle"> 선착순 한정 패키지와 프로모션 혜택까지 받을 수 있는 기회 </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N12 -->
    <!-- [S]tedu-N15 -->
    <div class="tedu-N15" data-bid="KaM3zgHIO7">
      <div class="content-inner">
        <div class="content-container">
          <div class="main-content">
            <div class="title-wrap">
              <h3 class="cont-title">공지사항</h3>
              <p class="cont-text">템하에듀의 새로운 소식을 전해드립니다!</p>
            </div>
            <div class="content-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type08 ">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <span class="tbox">공지사항</span>
                          <h4 class="title">템하에듀 운영 정책 업데이트 및 사이트 런칭 안내 (23.10.01)</h4>
                          <p class="date">2023.10.01(일)</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type08 ">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <span class="tbox">이벤트</span>
                          <h4 class="title">플랫폼 서비스 만족도 조사 1위 기념 혜택 제공!</h4>
                          <p class="date">2023.10.01(일)</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type08 ">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <span class="tbox">공지사항</span>
                          <h4 class="title">템하에듀 운영 정책 업데이트 안내 (23.09.01)</h4>
                          <p class="date">2023.10.01(일)</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-wrap tedu-card-type08 ">
                    <a href="javascript:void(0)">
                      <div class="card-area">
                        <div class="card-text-area">
                          <span class="tbox">공지사항</span>
                          <h4 class="title">템하에듀 운영 정책 업데이트 및 사이트 런칭 안내 (23.10.01)</h4>
                          <p class="date">2023.10.01(일)</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="control-wrap">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N15 -->
  </main>
  <!-- [S]tedu-N17 -->
  <div class="tedu-N17" data-bid="fLM3zgHIUl">
    <div class="footer-container">
      <div class="footer-top">
        <div class="inner">
          <div class="footer-menu">
            <a href="javascript:void(0)">이용약관</a>
            <a href="javascript:void(0)">개인정보처리방침</a>
          </div>
        </div>
      </div>
      <div class="footer-area">
        <div class="inner">
          <dif class="footer-info-wrap">
            <div class="footer-logo">
              <a href="javascript:void(0)">
                <img src="../resources/images/logo_white.png" alt="로고">
              </a>
            </div>
            <div class="footer-info">
              <span>서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호</span>
              <span>T. 070-8872-8874</span>
              <span>E. help@openfield.co.kr</span>
              <span class="copy">2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</span>
            </div>
          </dif>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]tedu-N17 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
</body>