<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>결제하기 | dy</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/js/daumAddressScript.js"></script>
</head>


<body>

	<!-- [S]tedu-N3 -->
	<div class="tedu-N3" data-bid="XEm3ZgHi4n">
		<div class="header-container lightmode">
			<div class="header-top">
				<div class="inner">
					<div class="header-member">
						<!-- 로그인 상태에 따라 아이콘 변경 -->
						<th:block th:if="${session.auth == null}">
							<a th:href="@{/login}"> <em class="ico"> <img
									th:src="@{/icons/ico_login.svg}" alt="로그인 아이콘">
							</em> <span>로그인</span>
							</a>
							<a href="/register/membershipAgree"> <em class="ico"> <img
									src="/icons/ico_member.svg" alt="회원가입 아이콘">
							</em> <span>회원가입</span>
							</a>
						</th:block>

						<th:block th:if="${session.auth != null}">
							<a href="/logout"> <em class="ico"> <img
									src="/icons/ico_login.svg" alt="로그아웃 아이콘">
							</em> <span>로그아웃</span>
							</a>
							<th:block th:if="${session.auth.grade == 'mem'}">
								<a href="/myPage/myPage"> <em class="ico"> <img
										src="/icons/ico_member.svg" alt="마이페이지 아이콘">
								</em> <span>마이페이지</span>
								</a>
							</th:block>
							<th:block th:if="${session.auth.grade == 'emp'}">
								<a href="/myPage/empMyPage"> <em class="ico"> <img
										src="/icons/ico_member.svg" alt="마이페이지 아이콘">
								</em> <span>직원페이지</span>
								</a>
							</th:block>
						</th:block>

					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="inner">
					<div class="header-logo">
						<a href="/"> <img src="/images/logo_black.png" alt="로고">
						</a>
					</div>
					<div class="header-gnb">
						<div class="gnb-list">
							<a th:href="@{goodsLists}">BEST 교육</a>
						</div>
						<div class="gnb-list">
							<a href="javascript:void(0)">신규</a>
						</div>
						<div class="gnb-list">
							<a href="javascript:void(0)">온라인 교육</a>
						</div>
					</div>
					<div class="header-btn"></div>
				</div>
			</div>
		</div>
  <!-- [E]tedu-N3 -->
  <main class="th-layout-main ">
   <table width="700" align="center">
<tr><td> 주문서 <hr />1. 주문 상품<br /></td></tr>
</table>
<table width="700" align="center">
	<tr><td>상품 대표 이미지</td><td>주문 상품 정보</td><td>수량/상품금액</td><td>금액</td></tr>
	
	<tr th:each="dto : ${list}">
		<td><img th:src="|/static/upload/${dto.goodsDTO.goodsMainStoreImage}|" width="30"/></td>
			<td>[[${dto.goodsDTO.goodsName}]]</td>
			<td>[[${dto.cartDTO.cartQty}]]/
				[[${dto.goodsDTO.goodsPrice}]]</td>
			<td>[[${dto.goodsDTO.goodsPrice * dto.cartDTO.cartQty}]]</td>
	</tr>
</table>
<form action="goodsOrder" method="post">
<input type="hidden" name="goodsNums" th:value="${goodsNums}" />
<input type="hidden" name="totalPaymentPrice" th:value="${sumPrice + deliveryCost}" />
<input type="hidden" name="purchaseName"  th:value= "${list[0].goodsDTO.goodsName + ' 외' + (list.size() - 1) + '개' }" />
<table width="700"  align="center" >
	<tr><td align="left">
		<table width="350">
			<tr><td colspan=2>2. 배송 정보</td></tr>
			<tr><td>받는 사람 </td>
				<td><input type="text" name="deliveryName"/> </td></tr>
			<tr><td>받는 사람 주소 </td>
				<td><input type="text" name="deliveryAddr" id="sample4_roadAddress" 
						onclick="execDaumPostcode();" readonly="readonly"/> </td></tr>
			<tr><td>받는 사람 상세 주소 </td>
				<td><input type="text" name="deliveryAddrDetail"/> </td></tr>
			<tr><td>받는 사람 우편번호 </td>
				<td> <input type="text" name="deliveryPost" id="sample4_postcode" class="tedu-input lightmode" placeholder="우편번호" aria-label="우편번호" readonly> 
				<button class="tedu-btn tedu-btn-dark btn-link" type="button" onclick="execDaumPostcode();">우편번호 검색</button></td></tr>
			
			<tr><td>받는 사람 연락처 </td>
				<td><input type="tel" name="deliveryPhone"/> </td></tr>
			<tr><td>배송 메세지 </td>
				<td><input type="text" name="message"/> </td></tr>
		</table>
	</td>
	<td align="right">
		<table width="350">
			<tr><td colspan=2>3. 결제정보</td></tr>
			<tr><td> 총 금액 </td><td>[[${#numbers.formatCurrency(sumPrice)}]]원</td></tr>
			<tr><td> 총 배송비</td><td>
					<span th:if="${deliveryCost == 0}">무료배송</span>
					<span th:if="${deliveryCost != 0}">[[${#numbers.formatCurrency(deliveryCost)}]]원</span>
				</td></tr>
			<tr><td> 총 결제 금액 </td><td>[[${#numbers.formatCurrency(sumPrice + deliveryCost)}]]원</td></tr>
			<tr><td align="center"  colspan=2>
				<input type="submit" value="구매하기"/>
			</td></tr>
		</table>
	</td></tr>
</table>
</form>
   
  </main>
  <!-- [S]tedu-N17 -->
  <div class="tedu-N17" data-bid="GeM3zGpMBM">
    <div class="footer-container">
      <div class="footer-top">
        <div class="inner">
          <div class="footer-menu">
            <a href="javascript:void(0)">이용약관</a>
            <a href="javascript:void(0)">개인정보처리방침</a>
          </div>
        </div>
      </div>
      <div class="footer-area">
        <div class="inner">
          <dif class="footer-info-wrap">
            <div class="footer-logo">
              <a href="javascript:void(0)">
                <img src="/images/logo_white.png" alt="로고">
              </a>
            </div>
            <div class="footer-info">
              <span>서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호</span>
              <span>T. 070-8872-8874</span>
              <span>E. help@openfield.co.kr</span>
              <span class="copy">2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</span>
            </div>
          </dif>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]tedu-N17 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>