<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>결제하기 | dy</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>

	<!-- [S]tedu-N3 -->
	<div class="tedu-N3" data-bid="XEm3ZgHi4n">
		<div class="header-container lightmode">
			<div class="header-top">
				<div class="inner">
					<div class="header-member">
						<!-- 로그인 상태에 따라 아이콘 변경 -->
						<th:block th:if="${session.auth == null}">
							<a th:href="@{/login}"> <em class="ico"> <img
									th:src="@{/icons/ico_login.svg}" alt="로그인 아이콘">
							</em> <span>로그인</span>
							</a>
							<a href="/register/membershipAgree"> <em class="ico"> <img
									src="/icons/ico_member.svg" alt="회원가입 아이콘">
							</em> <span>회원가입</span>
							</a>
						</th:block>

						<th:block th:if="${session.auth != null}">
							<a href="/logout"> <em class="ico"> <img
									src="/icons/ico_login.svg" alt="로그아웃 아이콘">
							</em> <span>로그아웃</span>
							</a>
							<th:block th:if="${session.auth.grade == 'mem'}">
								<a href="/myPage/myPage"> <em class="ico"> <img
										src="/icons/ico_member.svg" alt="마이페이지 아이콘">
								</em> <span>마이페이지</span>
								</a>
							</th:block>
							<th:block th:if="${session.auth.grade == 'emp'}">
								<a href="/myPage/empMyPage"> <em class="ico"> <img
										src="/icons/ico_member.svg" alt="마이페이지 아이콘">
								</em> <span>직원페이지</span>
								</a>
							</th:block>
						</th:block>

					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="inner">
					<div class="header-logo">
						<a href="/"> <img src="/images/logo_black.png" alt="로고">
						</a>
					</div>
					<div class="header-gnb">
						<div class="gnb-list">
							<a th:href="@{goodsLists}">BEST 교육</a>
						</div>
						<div class="gnb-list">
							<a href="javascript:void(0)">신규</a>
						</div>
						<div class="gnb-list">
							<a href="javascript:void(0)">온라인 교육</a>
						</div>
					</div>
					<div class="header-btn"></div>
				</div>
			</div>
		</div>
  <!-- [E]tedu-N3 -->
  <main class="th-layout-main ">
    <!-- [S]tedu-N44 -->
    <div class="tedu-N44" data-bid="bvm3zGPm4v">
      <div class="content-inner">
        <div class="content-container">
          <section class="">
            <div class="title-wrap">
              <h3 class="cont-title">결제하기</h3>
            </div>
            <div class="payment-wrap">
              <div class="payment-area">
                <div class="title">주문자 정보</div>
                <div class="payment-cont payment-cont-type2">
                  <fieldset class="fieldset">
                    <p class="stitle">이름</p>
                    <div class="input-group">
                      <div class="tedu-inputset">
                        <input type="text" class="tedu-input lightmode" value="홍길동" aria-label="이름">
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="fieldset">
                    <p class="stitle">휴대전화</p>
                    <div class="input-group">
                      <div class="tedu-inputset">
                        <input type="text" class="tedu-input lightmode" value="010-1234-4567" aria-label="휴대전화">
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="payment-cont">
                  <fieldset class="fieldset">
                    <p class="stitle">이메일</p>
                    <div class="input-group">
                      <div class="tedu-inputset">
                        <input type="text" class="tedu-input lightmode" value="sample@testemail.com" aria-label="이메일">
                      </div>
                    </div>
                    <p class="desc">주문자 정보를 정확하게 입력해주셔야 결제가 원활하게 처리됩니다.</p>
                  </fieldset>
                </div>
              </div>
              <div class="payment-area">
                <div class="title">쿠폰 선택</div>
                <div class="payment-cont">
                  <div class="selectset tedu-selectset lightmode">
                    <button class="selectset-toggle" type="button">
                      <span>쿠폰 선택안함</span>
                    </button>
                    <ul class="selectset-list">
                      <li class="selectset-item">
                        <button class="selectset-link" type="button" data-value="템플릿1">
                          <span>쿠폰 선택안함</span>
                        </button>
                      </li>
                      <li class="selectset-item">
                        <button class="selectset-link" type="button" data-value="템플릿2">
                          <span>쿠폰 선택1</span>
                        </button>
                      </li>
                      <li class="selectset-item">
                        <button class="selectset-link" type="button" data-value="템플릿3">
                          <span>쿠폰 선택2</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="payment-area">
                <div class="title">결제수단선택</div>
                <div class="payment-cont">
                  <div class="radioset-wrap">
                    <div class="radioset lightmode">
                      <div class="radioset-group">
                        <input id="radioset-a-1" name="radioset-a" class="radioset-input input-line" type="radio" value="" checked="">
                        <label class="radioset-label" for="radioset-a-1"></label>
                        <span class="radioset-text">신용/체크카드</span>
                      </div>
                      <div class="selectset tedu-selectset lightmode">
                        <button class="selectset-toggle" type="button">
                          <span>쿠폰 선택안함</span>
                        </button>
                        <ul class="selectset-list">
                          <li class="selectset-item">
                            <button class="selectset-link" type="button" data-value="템플릿1">
                              <span>쿠폰 선택안함</span>
                            </button>
                          </li>
                          <li class="selectset-item">
                            <button class="selectset-link" type="button" data-value="템플릿2">
                              <span>쿠폰 선택1</span>
                            </button>
                          </li>
                          <li class="selectset-item">
                            <button class="selectset-link" type="button" data-value="템플릿3">
                              <span>쿠폰 선택2</span>
                            </button>
                          </li>
                        </ul>
                      </div>
                      <p class="desc">모든 카드 12개월 무이자 할부 혜택 제공</p>
                    </div>
                    <div class="radioset lightmode">
                      <div class="radioset-group">
                        <input id="radioset-a-2" name="radioset-a" class="radioset-input input-line" type="radio" value="">
                        <label class="radioset-label" for="radioset-a-2"></label>
                        <span class="radioset-text">네이버페이</span>
                      </div>
                    </div>
                    <div class="radioset lightmode">
                      <div class="radioset-group">
                        <input id="radioset-a-3" name="radioset-a" class="radioset-input input-line" type="radio" value="">
                        <label class="radioset-label" for="radioset-a-3"></label>
                        <span class="radioset-text">카카오페이</span>
                      </div>
                    </div>
                    <div class="radioset lightmode">
                      <div class="radioset-group">
                        <input id="radioset-a-4" name="radioset-a" class="radioset-input input-line" type="radio" value="">
                        <label class="radioset-label" for="radioset-a-4"></label>
                        <span class="radioset-text">실시간 계좌이체</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N44 -->
    <!-- [S]tedu-N45 -->
    <div class="tedu-N45" data-bid="xJm3zgpm8A">
      <div class="content-container">
        <div class="sidebar">
          <div class="title-wrap">
            <h3 class="title">결제 상품 정보</h3>
          </div>
          <div class="pay-info-warp">
            <div class="img-area">
              <img class="card-img card-img-mo" src="/images/img_edu_01.png" alt="이미지">
            </div>
            <div class="text-area">
              <div class="title">역대급 가성비 온라인 교육 디자인 툴 마스터 클래스</div>
              <p class="text">템플릿하우스</p>
            </div>
          </div>
          <div class="price-info-wrap">
            <div class="price-area">
              <span>정가</span>
              <strong>1,200,000원</strong>
            </div>
            <div class="price-area">
              <span>쿠폰사용</span>
              <strong>-</strong>
            </div>
            <div class="price-area">
              <span>할인</span>
              <strong>- 840,000원</strong>
            </div>
            <div class="price-area price-total">
              <span>결제 금액</span>
              <strong>360,000원</strong>
            </div>
          </div>
          <button type="button" class="tedu-btn tedu-btn-light add-cart">결제하기</button>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N45 -->
  </main>
  <!-- [S]tedu-N17 -->
  <div class="tedu-N17" data-bid="GeM3zGpMBM">
    <div class="footer-container">
      <div class="footer-top">
        <div class="inner">
          <div class="footer-menu">
            <a href="javascript:void(0)">이용약관</a>
            <a href="javascript:void(0)">개인정보처리방침</a>
          </div>
        </div>
      </div>
      <div class="footer-area">
        <div class="inner">
          <dif class="footer-info-wrap">
            <div class="footer-logo">
              <a href="javascript:void(0)">
                <img src="/images/logo_white.png" alt="로고">
              </a>
            </div>
            <div class="footer-info">
              <span>서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호</span>
              <span>T. 070-8872-8874</span>
              <span>E. help@openfield.co.kr</span>
              <span class="copy">2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</span>
            </div>
          </dif>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]tedu-N17 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>